#wrapper{
    width: 970px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    background-color: #DDDDDD;
}
#formContainer{
    height: 40px;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
}
#noteText{
    width: 735px;
    height: 30px;
}
label{
    font-size: 20px;
}
#submit{
    width: 130px;
    height: 36px;
    background-color: #009D33;
    color: white;
    font-size: 15px;
}